.navbar {
    background-color: #8b2635;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 1300px; */
    padding: 0 50px;
    height: inherit;
}

.navbar-logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-logo-image {
    margin-right: 15px;
    height: 30px;
    width: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: inherit;
}

.nav-item {
    /* margin-left: 24px; */
    height: inherit;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0px 26px;
    transition: all 0.3s ease;
    align-items: center;
    display: flex;
    height: inherit;
    /* padding-top: 100%; */
    /* padding-bottom: 15%; */
}

.nav-link.active {
    display: flex;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.2);
    /* font-weight: 500; */
    align-items: center;
}

.nav-link:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    /* border-radius: 4px; */
} 